{% extends 'base.html.twig' %}

{% block title %}Log in!
{% endblock %}

{% block body %}

    <div class="container-fluid">
        <div align="center">
            <br><br>
            <form method="post">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
                <br>
                <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
                <br>
                <label class="sr-only" for="inputEmail">Email</label>
                <br>
                <input style="width: 20em" type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
                <br>
                <label class="sr-only" for="inputPassword">Password</label>
                <br>
                <input class="form-control" id="inputPassword" name="password" placeholder="Password" required style="width: 20em" type="password">
                <br>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">


                <button class="btn btn-primary" style="width: 10em" type="submit">
                    Sign in</button>
                <a style="width: 10em" href="{{ path('app_register') }}" class="btn btn-primary ">Register</a>
</br> <p></p>
                <a style="width: 10em" href="{{ path('app_forgot_password_request') }}" class="">Forgot Password</a>
                
            </form>

        </div>
    </div>
{% endblock %}
