{% extends 'base.html.twig' %}

{% block title %}Dashboard!{% endblock %}

{% block stylesheets %}

{{ parent() }}
   {{ encore_entry_link_tags('email') }}


{% endblock %}


{% block body %}

{{ form_start(form)}}


 <button class="btn btn-primary" type="submit ">
                                    Save</button>


 {{ form_end(form) }}


<pre>
    {{ dump(test) }}
</pre>
{% block javascript %}

    {{ parent() }}

    {{ encore_entry_script_tags('email') }}

{% endblock %}
{% endblock %}
