{% extends 'base.html.twig' %}

{% block title %}View
{% endblock %}


{% block head %}
    {{ parent() }}
   
{% endblock %}



{% block body %}
    <div class="container ">
        <div class="row">
            <div class="col-10 mx-auto my-5 text-uppercase text-center">
                <h2>{{product.ProductName}}</h2>

            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-6 mb-3">
                <div class="">
                    <div class=h"border " style="">
            
     
                                        <div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
                                        <div class="carousel-inner">
                                            {% for key, picture in product.pictures %}
                                        

                                            <div class="carousel-item {{ key == 0 ? "active" : null}}" id="car{{key}}">
                                            <img class="h-100"  style='height: 100%; width: 100%; object-fit: contain' src="{{ asset('/images/' ~ picture.getFilename) }}">
                                        
                                            </div>

                                        {% endfor %}
                                        
                                        </div>
                                        <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
                                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                        <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
                                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                        </div>

                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6">

                {# <h4>{{product.getProductName}}
                </h4> #}
                <div class="my-3">
                    {{product.productDesc}}
                </div >
                <p>
                 {% for key, detail in product.productDetailss %}
                <span style="color:black;font-weight:bold" > {{detail.getDetailname}} : </span> {{detail.getDatadesc}}<br>
                  {% endfor %}

                <h5>
                    RM{{product.getProductPrice|number_format(2, '.', ',')}}
                </h5>
                <h6>
                    {% if product.getProductStock > 2 %}

                   <span style="color:black;font-style:italic"> {{product.getProductStock}}  left!  </span>
                  
                    {% elseif product.getProductStock == 1  %}

                    <span style="color:black;font-style:italic"> Only {{product.getProductStock}}  left!  </span>
                  
                    {% elseif product.getProductStock < 1 %}

                    <span style="color:black;font-style:italic">Sold Out  </span>
                  
                    {% endif %}
                </h6>

                <br>
                <div class="row">
                {% if product.getProductStock > 0 %}

                    <div class="col-6 mx-auto">
                       <div class="d-flex justify-content-centre">
                        <a href="{{path('add_cart', {id: product.getId})}}" class="btn btn-primary btn-block">Add To Cart</a>
                       </div>
                    </div>

                {% endif %}
<style>

</style>
                    <div class="col-6 mx-auto">
                    <div class="d-flex justify-content-centre">
                        <a class="btn btn-info btn-block" href="{{path('app_home')}}">Continue Shopping</a>
                    </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
  
   

{% block javascript %}

    {{ parent() }}




{% endblock %}

{% endblock %}
