{% extends '/orders/step.html.twig' %}

{% block title %}Payment Sucess!!
{% endblock %}

{% block main %}
	<div class="alert alert-success mt-3" role="alert">
		<i class="fas fa-check fa-3x"></i>Thank You, your order has been placed. An Email confirmation has been sent to you. Kindly wait for your order to be shipped.
	</div>
	<div class="mt-4 d-flex">
		<h3 class="mx-auto">Order Summary</h3>

	</div>

	{# shipping & payment #}
	<div class="border">
		<div class="row">


			<div class="col-md-6">
				<div class="p-3">

					<div class="d-flex justify-content-lg-center">

						<div style="max-width: 300px">
							<h5>Shipping Infomation</h5>
							<p>{{address.firstName}}&nbsp;</p>
							<p>{{address.address}}<br>
								{{address.addressLine2}}<br>
								{{address.state}}<br>
								{{address.city}}<br>
								{{address.postcode}}<br>
								{{address.country}}<br>
								{{address.phoneNumber}}</p>
						</div>
					</div>

				</div>
			</div>
			<div class="col-md-6">
				<div class="p-3">
					<div class="d-flex justify-content-lg-center">
                       
                       <div style="max-width: 300px">
                        <h5>Payment</h5>
						
						
                        <p>Payment Method :&nbsp;{{order.paymentMethod}}
							<br>
							Date of Payment :&nbsp;{{ paypal.paymentDate|date("d M Y H:i:s") }}
							<br>
							Currency :&nbsp;{{paypal.grossAmountCurrency}}<br>
							Amount<br>
						</p>
                        </div>
					</div>

				</div>


			</div>
		</div>
	</div>

	{# order list #}
    
	<div class="row mt-4 ">
		<div class="col-lg-8  mb-4">
			<div class="border">
{% for orderdetail in orderdetails %}
				<h5 class="m-3">Product</h5>
				<div class="row px-3">
					<div class="col-md-6">
						<img class="img-fluid w-100" src="{{asset('/images/'~ orderdetail.productImage) }}" alt="">
					</div>
					<div class="col-md-6 ">
						<div class="row p-3 d-flex ">
							<h6>{{orderdetail.productName}}</h6>

						</div>
						<div class="row p-3 d-flex ">
							<span>Price:</span>
							<span class="ml-auto">RM&nbsp;{{orderdetail.productPrice}}</span>

						</div>
						<div class="row p-3 d-flex ">
							<span>Quantity:</span>
							<span class="ml-auto">{{orderdetail.qty}}</span>

						</div>
						<div class="row p-3 d-flex ">
							<span>Details</span>

							<span class="ml-auto">XX</span>

						</div>
					</div>
				</div>
                {% endfor %}


			</div>


		</div>

		<div class="col-lg-4  mb-4">

			<div class="border py-0 px-3">
				<div class="row p-3 d-flex border-bottom">
					<h5>Order Total</h5>


				</div>
				<div class="row p-3 d-flex border-bottom">
					<span>Subtotal Price: </span>
					<span class="ml-auto">RM&nbsp;{{ paypal.netAmount| number_format(2, '.', ',') }}</span>

				</div>
				<div class="row p-3 d-flex border-bottom">
					<span>Shipping Price:</span>
					<span class="ml-auto">RM&nbsp;{{ (paypal.grossAmount - paypal.netAmount)| number_format(2, '.', ',') }}</span>
				</div>
				<div class="row p-3 d-flex border-bottom">
					<span>Total Price:</span>
					<span class="ml-auto">RM&nbsp;{{ paypal.grossAmount| number_format(2, '.', ',') }}</span>
				</div>
			</div>


		</div>
	</div>


{% endblock %}
