{% extends '/orders/step.html.twig' %}

{% block title %}Checkout - Shipping Address
{% endblock %}

{% block main %}

    {# form #}
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-lg-8">
            <div class="my-3 border">
                <div class="p-3">
                    <h5>Shipping Address</h5>
                    <hr>
                    {{form_start(form)}}
                    <div class="row">
                        <div class="col-lg-6 col-xs-12">
                            {{form_row(form.first_name, {'attr' : {'class' : 'form-control'}}) }}
                        </div>
                        <div class="col-lg-6 col-xs-12">
                            {{form_row(form.last_name, {'attr' : {'class' : 'form-control'}})}}
                        </div>
                    </div>
                    {{form_label(form.address,'Address Line 1' )}}
                    {{form_widget(form.address, {'attr' : {'class' : 'form-control'}})}}
                    {{form_row(form.address_line_2, {'attr' : {'class' : 'form-control'}})}}
                    {{form_label(form.countrydata,'Country')}}
                    {{form_widget(form.countrydata, {'attr' : {'class' : 'form-control'}})}}
                    {{form_label(form.state,'State / Province / Territory')}}
                    {{form_widget(form.state, {'attr' : {'class' : 'form-control'}})}}
                    {{form_row(form.city, {'attr' : {'class' : 'form-control'}})}}
                    {{form_row(form.postcode, {'attr' : {'class' : 'form-control'}})}}
                    {{form_label(form.phone_number)}}
                    <div class="text-danger">
                        {{form_errors(form.phone_number)}}
                    </div>
                    {{form_widget(form.phone_number, {'attr' : {'class' : 'form-control'}})}}
                    <br>

                    <div class="row">
                        <div class="col">
                            <a href="{{path('view_cart')}}" class="btn btn-primary" type="submit ">
                                <i class="fas fa-chevron-circle-left"></i>
                                Back to Cart</a>
                        </div>
                        <div class="col">
                            <div class="d-flex justify-content-end">
                                <button class="btn btn-primary" type="submit ">
                                    <i class="fas fa-chevron-circle-right"></i>
                                    Next</button>
                            </div>
                        </div>
                    </div>


                    {{form_end(form)}}
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-lg-4">
            <div class="my-3 border rounded">
                <div class="p-3">
                    {{render(controller('App\\Controller\\OrdersController::miniCart'))}}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
