<h3>Hello {{ admin }},</h3>

<p>You have new Order from {{ customer }} with order <br>
no <span style="color:orange">#{{ order }}</span> <br>
 Please Prepare your order as soon as posible.
To manage order go to web <br>
<a href="{{ url('dashboard') }}" class="">
<div style="background: rgb(21, 88, 88); widht:120px; height:50px">
Admin
</div>
</a> 
<br>

panel.

</p>

<table>
    <tr>
        <th>Order Detail</th>
        <th>Order ID</th>
    </tr>
    <tr>
        <td>order</td>
        <td><img src="{{ 'https://www.shrinkyz.com/images/33fb1d6b3b9b5c4433c2de15dab15fab.jpeg' }}" style="width:50px; height:50px" alt=""></td>
    </tr>


</table>




</table>