

<style>
		#showprint {
			display: none;
		}
		@media print {
			#printPageButton {
				display: none;
			}
			#showprint {
				display: block;
			}
		}

		.top-img {
			height: 30px;
			width: 30px;
		}
</style>


	<div id="showprint" class="top-print">
		<img src="{{asset('/images/navicon.png')}}" class="top-img" alt="">
		http://Shrinkz.com
				shrinkyz@icloud.com
	</div>
	<div id="printPageButton" class="alert alert-success mt-3" role="alert">
		<div class="d-flex">
			<div class="m-2 ml-auto">
				<i class="fas fa-check fa-3x"></i>

			</div>
			<div class="m-auto">
				Thank You, your order has been placed. An Email confirmation has been sent to you. Kindly wait for your order to be shipped.
			</div>
		</div>
	</div>
	<div class="mt-4 d-flex">
		<h3 class="mx-auto">Order Summary</h3>

		<button class="btn btn-info btn-sm" id="printPageButton" onclick="window.print()">
			<i class="fas fa-print"></i>&nbsp;Print</button>
	</div>

	{# shipping & payment #}
	<div class="border">
		<div class="row">


			<div class="col-md-6">
				<div class="p-3">

					<div class="d-flex justify-content-lg-center">

						<div style="max-width: 300px">
							<h5>Shipping Infomation</h5>
							<p>{{address.firstName}}&nbsp;</p>
							<p>{{address.address}}<br>
								{{address.addressLine2}}<br>
								{{address.state}}<br>
								{{address.city}}<br>
								{{address.postcode}}<br>
								{{address.country}}<br>
								{{address.phoneNumber}}</p>
						</div>
					</div>

				</div>
			</div>
			<div class="col-md-6">
				<div class="p-3">
					<div class="d-flex justify-content-lg-center">

						<div style="max-width: 300px">
							<h5>Payment</h5>


							<p>Payment Method :&nbsp;{{order.paymentMethod}}
								<br>
								Date of Payment :<br>{{ paypal.paymentDate|date("d M Y H:i:s T",'Asia/Kuala_Lumpur') }}
								<br>
								Currency :&nbsp;{{paypal.grossAmountCurrency}}<br>
								Amount :&nbsp;{{paypal.grossAmountCurrency}}&nbsp;{{ paypal.grossAmount| number_format(2, '.', ',') }}<br>


							</p>
						</div>
					</div>

				</div>


			</div>
		</div>
	</div>

	{# order list #}

	<div class="row mt-4 ">
		<div class="col-lg-8  mb-4">
			<div class="border">
				<h5 class="m-3">Product</h5>
				{% for orderdetail in orderdetails %}

					<div class="row px-3">
						<div class="col-2 col-md-2">
							<img class="img-fluid w-100" src="{{asset('/images/'~ orderdetail.productImage) }}" alt="">
						</div>
						<div class="col-10 col-md-10 ">
							<div class="row p-3 d-flex ">
								<h6>{{orderdetail.productName}}</h6>

							</div>
							<div class="row p-3 d-flex ">
								<span>Price:</span>
								<span class="ml-auto">RM&nbsp;{{orderdetail.productPrice}}</span>

							</div>
							<div class="row p-3 d-flex ">
								<span>Quantity:</span>
								<span class="ml-auto">{{orderdetail.qty}}</span>

							</div>
							<div class="row p-3  ">
								<span>Details&nbsp;</span>
								{% for key, jsondata in orderdetail.jsondata %}
									{% if key == 0 %}
										{{jsondata.details | map((a)=>"#{a.detailname}")|join(', ')}},
										{{jsondata.details | map((a)=>"#{a.datadesc}")|join(', ')}},
									{% endif %}

									{% if key == 1 %}

										{{jsondata.category | map((a)=>"#{a.name}")|join(', ')}},


										{% for category in jsondata.category %}

											{% for subcategory in category.subcategory %}


												{% for key, item in subcategory %}
													{% if key == "id" %}
														{{item}},
													{% endif %}
													{% if key == "subcategoryname" %}
														{{item}},
													{% endif %}
												{% endfor %}


												{% for key, subtwo in subcategory.Subtwocategory %}

													{% for key, subtwoval in subtwo %}
														{% if key == "subtwocategoryname" %}
															{{subtwoval}},
														{% endif %}

													{% endfor %}


												{% endfor %}

											{% endfor %}


										{% endfor %}


									{% endif %}

								{% endfor %}


							</div>


						</div>
					</div>


				{% endfor %}


			</div>


		</div>

		<div class="col-lg-4  mb-4">

			<div class="border py-0 px-3 mb-4">
				<div class="row p-3 d-flex border-bottom">
					<h5>Order Total</h5>


				</div>
				<div class="row p-3 d-flex border-bottom">
					<span>Subtotal Price:
					</span>
					<span class="ml-auto">RM&nbsp;{{ order.subtotal| number_format(2, '.', ',') }}</span>

				</div>
				<div class="row p-3 d-flex border-bottom">
					<span>Shipping Price:</span>
					<span class="ml-auto">RM&nbsp;{{ order.shipping| number_format(2, '.', ',') }}</span>
				</div>
				<div class="row p-3 d-flex border-bottom">
					<span>Total Price:</span>
					<span class="ml-auto">RM&nbsp;{{ order.amount| number_format(2, '.', ',') }}</span>
				</div>
			</div>

			<div  class="border mb-4 px-3">
				<div class="row p-3 d-flex border-bottom">
					<h5>Order Status</h5>
					

			</div>
				<div class="row p-3 d-flex border-bottom">
					<span class="text-danger">{{order.status}}</span>
					

				</div>

			</div>
			

			
			<div id="printPageButton" class="mt-3">
				<a href="{{path('user_orders')}}" class="btn-info btn btn-block">Order History</a>
					<a  href="{{path('app_home')}}"
					 class="btn btn-primary btn-block">Home</a>
				
			</div>


		</div>
</div>

