{% extends  "base.html.twig" %}

{% block title %}
    Shopping Cart
{% endblock %}
{% block body %}
    <div class="container">
        {% if products %}
            <table class="table hover">
                <thead>
                    <tr>
                        <th></th>
                        <th>Item</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>Remove</th>
                        <th>Total</th>
                    </tr>
                </thead>

                {% set total = 0 %}{% set i = 0 %}{% set notEnoughStock = 0 %}
                {% for product in products %}
                    <tbody>
                        <tr>
                            <td><img height="70" width="70" src="{{ asset( '/images/' ~ product.product.getProductImage) }}"></td>
                            <td>{{product.product.getProductName}}</td>
                            <td>
                                {{form_start(form[i], {'method' : 'GET' , 'action': url('update_cart' , { 'id' : product.product.getId} ), 'attr' : {'class' : 'form-inline'}})}}
                                <p>{{form_widget(form[i].update, {'value' : product.qty, 'attr' : { 'class' : 'form-control form-control-sm' , 'style': 'width:5em'}})}}
                                    {{form_widget(form[i].save, {'attr' : {'class' : 'btn btn-primary btn-sm'}})}}</p>
                                {{form_end(form[i])}}
                                {% if (product.product.getProductStock - product.qty) < 0 %}
                                    <p style="color:red;">Not Enough Stock
                                    </p>
                                    {% set notEnoughStock = notEnoughStock + 1 %}
                                {% endif %}
                                Available Stock :
                                {{product.product.getProductStock}}

                            </td>
                            <td>Price :
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   RM
                                {{product.product.getProductPrice |number_format(2, '.', ',')}}</td>
                            <td>
                                <a class="btn btn-danger btn-sm" href="{{path('remove_cart' , {'id': product.product.getId })}}">Remove</a>
                            </td>
                            <td>
                                RM
                                {{(product.product.getProductPrice * product.qty ) |number_format(2, '.', ',')}}</td>
                        </tr>
                    </tbody>


                    {% set total = total + (product.product.getProductPrice * product.qty ) %}
                    {% set i = i + 1 %}
                {% endfor %}

                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <th>Total</th>
                <th>RM
                    {{total |number_format(2, '.', ',')}}</th>
            </table>
            <a class="btn btn-info " href="{{path('app_home')}}">
                <i class="fas fa-chevron-circle-left"></i>
                Continue Shopping</a>
            {% if (notEnoughStock == 0 ) %}
                <a class="btn btn-primary float-right" href="{{path('orders')}}">
                    <i class="fas fa-chevron-circle-right"></i>
                    Checkout</a>
            {% endif %}
        {% else %}
            <div class="alert alert-primary">

                <strong>Your Cart Empty!</strong>
            </div>
            <a class="btn btn-info" href="{{path('app_home')}}">Continue Shopping</a>
        {% endif %}
    </div>
{% endblock %}
